<%= content_tag(:div, :id => dom_id(comment), :class => "block") do %>
  <%= record_asset_tag(comment.author, :avatar, "avatar_default.jpg", :type => :preview, :class => "autor-pic") %>
  <span class="cover"></span>
	
	<div class="coment-area">
		<div class="comment-cont">
			<strong class="autor"><%= comment.author.name %></strong>
			<div class="txt">
				<%=raw comment.content_html %>
			</div>
			
			<% if can? :delete, comment %>
	      <%= link_to 'видалити', comment_path(comment), :remote => true, 
	        :method => :delete, :class => 'destroy', :confirm => t('sunrise.comments.destroy_confirm') %>
	    <% end %>
		</div>
	</div>
<% end %>
